<%- include('../partials/header.ejs')%>
<%- include('../partials/slidebar.ejs')%>

            <!-- Page Sidebar Ends-->

            <!-- Container-fluid starts-->
            <div class="page-body">
                <!-- All User Table Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="title-header option-title">
                                        <h5>All Orders</h5>
                                        <form class="d-inline-flex">
                                            <a href="/admin/order" class="align-items-center btn btn-theme d-flex">
                                                <i data-feather="plus"></i>
                                            </a>
                                        </form>
                                    </div>

                                    <div class="table-responsive table-product">
                                        <table class="table all-package theme-table" id="table_id">
                                            <thead>
                                                <tr>
                                                    <th># Order Id</th>
                                                    <th>Full Name</th>
                                                    <th>Total</th>
                                                    <th>Status</th>
                                                    <th>Date</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% data.reverse().forEach((datas) => { %>
                                                    <tr>
                                                        <td><%= datas.orderId %></td>
                                                        <td><%= datas.address.name %></td>
                                                        <td>₹<%= datas.totalAmount %></td>
                                                        <td><%= datas.orderStatus %></td>
                                                        <td><%= datas.date.toLocaleDateString() %></td>
                                                        <td><a href="/admin/viewdetails/<%= datas._id %>" class="view-details-btn">View Details</a></td>
                                                    </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                        <script>
                                            $(document).ready(function() {
                                                $('#table_id').DataTable();
                                            });
                                        </script>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- All User Table Ends-->

                <div class="container-fluid">
                    <!-- footer start-->
                    <footer class="footer">
                        <div class="row">
                            <div class="col-md-12 footer-copyright text-center">
                                <p class="mb-0">Copyright 2022 © Fastkart theme by pixelstrap</p>
                            </div>
                        </div>
                    </footer>
                    <!-- footer end-->
                </div>
            </div>
            <!-- Container-fluid end -->
        </div>
        <!-- Page Body End -->

        <!-- Modal Start -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
            <div class="modal-dialog  modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                        <p>Are you sure you want to log out?</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="button-box">
                            <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
                            <button type="button" class="btn  btn--yes btn-primary">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal End -->
    </div>

    <!-- Delete Modal Box Start -->
    <div class="modal fade theme-modal remove-coupon" id="exampleModalToggle" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-block text-center">
                    <h5 class="modal-title w-100" id="exampleModalLabel22">Are You Sure ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="remove-box">
                        <p>The permission for the use/group, preview is inherited from the object, object will create a
                            new permission for this object</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-target="#exampleModalToggle2"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade theme-modal remove-coupon" id="exampleModalToggle2" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel12">Done!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="remove-box text-center">
                        <div class="wrapper">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                            </svg>
                        </div>
                        <h4 class="text-content">It's Removed.</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Modal Box End -->

    <!-- latest js -->
    <script src="/assetsb/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js -->
    <script src="/assetsb/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- feather icon js -->
    <script src="/assetsb/js/icons/feather-icon/feather.min.js"></script>
    <script src="/assetsb/js/icons/feather-icon/feather-icon.js"></script>

    <!-- scrollbar simplebar js -->
    <script src="/assetsb/js/scrollbar/simplebar.js"></script>
    <script src="/assetsb/js/scrollbar/custom.js"></script>

    <!-- customizer js -->
    <script src="/assetsb/js/customizer.js"></script>

    <!-- Sidebar js -->
    <script src="/assetsb/js/config.js"></script>

    <!-- Plugins JS -->
    <script src="/assetsb/js/sidebar-menu.js"></script>
    <script src="/assetsb/js/notify/bootstrap-notify.min.js"></script>
    <script src="/assetsb/js/notify/index.js"></script>

    <!-- Data table js -->
    <script src="/assetsb/js/jquery.dataTables.js"></script>
    <script src="/assetsb/js/custom-data-table.js"></script>

    <!-- all checkbox select js -->
    <script src="/assetsb/js/checkbox-all-check.js"></script>

    <!-- sidebar effect -->
    <script src="/assetsb/js/sidebareffect.js"></script>

    <!-- Theme js -->
    <script src="/assetsb/js/script.js"></script>
</body>


<!-- Mirrored from themes.pixelstrap.com/fastkart/back-end/all-users.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Sep 2023 05:49:39 GMT -->
</html>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    async function blockUser(userId) {
        // Create a Swal confirmation popup
        const confirmation = await Swal.fire({
            title: 'Are you sure?',
            text: 'This action will block the user!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, block it!'
        });

        // Check if the user confirmed
        if (confirmation.isConfirmed) {
            try {
                const response = await fetch(`/admin/blockUser/${userId}`, {
                    method: 'post',
                });

                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }

                const result = await response.json();
                console.log(result);

                window.location.reload();
            } catch (error) {
                console.error('Fetch error:', error);
            }
        }
    }



  async  function fetchDetails(orderId) {
  // Make a fetch request with the orderId

  fetch(`/viewdetails/${orderId}`, {
    method: 'GET', // or 'POST' or any other method
    headers: {
      'Content-Type': 'application/json'
      // Add any other headers needed
    }
    // You can add a body if it's a POST request
  })
  .then(response => {
    // Handle the response as needed
  })
  .catch(error => {
    // Handle errors
    console.error('Error:', error);
  });
}

</script>
